.timeline-container {
  .data-timeline-container {
    margin-top: 64px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .data-timeline {
      overflow: auto;
      height: 300px;
      .p-timeline-event {
        min-width: 175px;
        max-width: 175px;
        min-height: 0;
        .p-timeline-event-separator {
          position: relative;
          .p-timeline-event-marker {
            background-color: #015fdf;
            position: absolute;
            top: 50%;
            bottom: 50%;
            left: 50%;
            right: 50%;
            transform: translate(-50%, -50%);
          }
          .p-timeline-event-connector {
            border-color: #217efd;
          }
        }
        .p-timeline-event-content {
          margin: 0 8px;
          .p-card-body {
            padding: 16px;
            .p-card-content {
              padding: 0;
              display: flex;
              flex-direction: column;
              gap: 8px;
            }
          }
          .simple-card {
            box-shadow: 0 2px 24px 0 rgba(219, 219, 219, 0.25);
            border: 1px solid #e6e6e6;
            border-radius: 8px;
            .card-description {
              display: -webkit-box;
              line-clamp: 3;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              overflow: hidden;
            }
          }
          .green-card {
            box-shadow: 0 2px 32px 0 #e8ffea;
            border: 1px solid #0ebe20;
            border-radius: 8px;
            background-color: #fafffa;
            .card-description {
              display: -webkit-box;
              line-clamp: 3;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              overflow: hidden;
            }
          }
          .yellow-card {
            box-shadow: 0 2px 32px 0 #fffbf2;
            border: 1px solid #f9a400;
            border-radius: 8px;
            background-color: #fffcf8;
            .card-description {
              display: -webkit-box;
              line-clamp: 3;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              overflow: hidden;
            }
          }
        }
      }
    }
  }
}
